<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Admin">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Admin" routerLinkActive="active">Dashboard</a>
          </li>  
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/Admin/Test" routerLinkActive="active">Test</a>
          </li>  -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/Admin/Products/AllProducts" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Admin/Categories/AllCategories" routerLinkActive="active">Categories</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>