<!-- <div *ngIf="!isUserAuthenticated()">
    <a routerLink="/Login">Login</a>
</div>
<div *ngIf="isUserAuthenticated()">
    <a routerLink="" (click)="logOut()">Logout</a>
</div> -->
    <!-- <button class="btn btn-primary" (click)="goToLogin()" [disabled]="isUserAuthenticated()" >Login</button>
    <button class="btn btn-primary" (click)="goToRegister()" [disabled]="isUserAuthenticated()" >Register</button>

    <button class="btn btn-danger" (click)="logOut()" [disabled]="!isUserAuthenticated()">Logout</button> -->
  
<img src='https://img.freepik.com/free-vector/shop-with-sign-we-are-open_52683-38687.jpg?w=740&t=st=1708007827~exp=1708008427~hmac=24a8b14c3a91d93ddb19bc466b2854762c34ca091d645e3162e969240841e1e8'>

