<!-- <mat-slide-toggle >Toggle me!</mat-slide-toggle> -->
<!-- <mat-autocomplete #auto="matAutocomplete"> -->
    <!-- @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    } -->

    <!-- <mat-option *ngFor="let item of options" value="{{item}}">{{item}}</mat-option>
  </mat-autocomplete> -->
<h1>Test</h1>
<table class="table">
  <thead>
  <tr>
      <td>Num</td>
      <td>Name</td>
      <td>Avail. Quantity</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Add to cart</td>
      
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of prdList, let i=index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.availableQuantity}}</td>
          <td>{{item.price}}</td>
          <td><input type="number" min="0" #requiredQuantity></td>
          <td><button class="btn btn-primary" (click)="addToCart(item,requiredQuantity.value)">Add</button></td>
      </tr>
  </tbody>
  </table>
